<div class="input-group">
  <input type="text" class="form-control" placeholder="Enter Message" />
  <span class="input-group-btn">
    <button class="btn btn-info" type="button">SEND</button>
  </span>
</div>
